# Database
DATABASE_URL="root:@tcp(127.0.0.1:3306)/batago?charset=utf8mb4&parseTime=True&loc=Local"

# JWT
JWT_SECRET=

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_ENV=sandbox
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
NEXT_PUBLIC_MIDTRANS_ENV=sandbox

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=youremail@mail.com
SMTP_PASS=
SMTP_FROM=BataGo <youremail@mail.com>